<!DOCTYPE html>
<html ng-app="weatherGenie" lang="en">
    <head lang="en">
        <!-- Meta information -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible"  content="IE=edge"/>
        <meta name="viewport"               content="width=device-width, initial-scale=1"/>
        <meta name="author"                 content="Kevin Van den Abeele"/>
        <meta name="keywords"               content="Weather Belgium forecast rain wind mist fog drizzle sun sunshine thunder thunderstorm precipitation conditions"/>
        <meta name="description"            content="Your number one source for weather information!"/>
        <meta property="og:description"     content="Your number one source for weather information!"/>

        <!-- Page title -->
        <title>Weather Genie</title>

        <!-- Can also use the below lines because of the mvc:resources tags in weatherGenie-dispatcher-servlet.xml -->
        <!-- With the config in weatherGenie-dispatcher-servlet.xml and the file locations relative to the .jsp pages, the IDE has content assist! -->
        <link rel="shortcut icon"   href="favicon.ico" type="image/x-icon" />
        <link rel="image_src"       href="img/thumb.jpg" />

        <!-- Web fonts! -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css' />

        <!-- Local stylesheets -->
        <!-- TODO: CDN fallback to local files -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.min.css" rel="stylesheet" />

        <!--<link href="css/lib/bootstrap.min.css"  rel="stylesheet" />
        <link href="css/lib/lightbox.css"       rel="stylesheet" media="screen" />-->

        <link href="css/master.css"             rel="stylesheet" media="screen" />
        <link href="css/components.css"         rel="stylesheet" media="screen" />
    </head>

    <!--***************************************************************
    ************************* App backgrounds *************************
    ***************************************************************-->
    <body ng-controller="weatherController">
        <div id="backgroundWrapper">
            <div id="bgImage1" class="bgImage"              style="background-image: url(img/bgs/bg_ClearSky.jpg);">        </div>
            <div id="bgImage2" class="bgImage transparent"  style="background-image: url(img/bgs/bg_FewClouds.jpg);">       </div>
            <div id="bgImage3" class="bgImage transparent"  style="background-image: url(img/bgs/bg_FewClouds2.jpg);">      </div>
            <div id="bgImage4" class="bgImage transparent"  style="background-image: url(img/bgs/bg_BrokenClouds.jpg);">    </div>
            <div id="bgImage5" class="bgImage transparent"  style="background-image: url(img/bgs/bg_ShowerRain.jpg);">      </div>
            <div id="bgImage6" class="bgImage transparent"  style="background-image: url(img/bgs/bg_Rain.jpg);">            </div>
            <div id="bgImage7" class="bgImage transparent"  style="background-image: url(img/bgs/bg_Thunderstorm.jpg);">    </div>
            <div id="bgImage8" class="bgImage transparent"  style="background-image: url(img/bgs/bg_Snow.jpg);">            </div>
            <div id="bgImage9" class="bgImage transparent"  style="background-image: url(img/bgs/bg_Mist.jpg);">            </div>
        </div>

        <!--***************************************************************
        ******************** Initial search screen ************************
        ***************************************************************-->
        <div id="initialSearch">
            <h1 id="initialSearchTitle">Weather Genie</h1>

            <form class="searchForm searchFormLarge" ng-submit="initialSearch()">
                <input type="text" placeholder="How is the weather in..." name="search" autocomplete="off" spellcheck="false" class="searchText searchTextLarge" ng-model="city"/>
                <input type="submit" class="searchSubmit searchButtonLarge" value=" "/><br style="clear:both;"/>
            </form>

            <div id="initialImages">
                <img src="img/svg/sun.svg"          class="svg svgSquare75 svgFirst"/>
                <img src="img/svg/rain.svg"         class="svg svgSquare75 svgInbetween"/>
                <img src="img/svg/lightning.svg"    class="svg svgSquare75 svgInbetween"/>
                <img src="img/svg/temp.svg"         class="svg svgSquare75 svgLast"/>
            </div>
        </div>

        <!--***************************************************************
        ******************** Main WeatherGenie screen *********************
        ***************************************************************-->
        <header id="headerWrapper" class="transparent hidden">
            <div id="headerContent">
                <a href="javascript:window.location.reload(true)">
                    <div id="headerTitle">
                        <h1>Weather Genie</h1>
                    </div>
                </a>
                <div id="headerSearch">
                    <form class="searchForm searchFormNormal" ng-submit="search()">
                        <input type="text" placeholder="Search for city" name="search" spellcheck="false" class="searchText searchTextNormal" ng-model="city"/>
                        <input type="submit" class="searchSubmit searchButtonNormal" value=" "/><br style="clear:both;"/>
                    </form>
                </div>
            </div>
        </header>

        <div id="content" class="container topSpacing transparent hidden">
            <!-- Temp, humidity and pressure -->
            <div class="row">
                <article class="col-xs-12 col-md-4 bottomSpacing">
                    <h2 id="weatherLocation">Weather in {{weatherData.location}}:</h2>
                    <br/>

                    <div id="weatherConditionsWrapper">
                        <h2 class="weatherCondition" ng-repeat="condition in weatherData.conditions">
                            - {{ condition.description }}
                        </h2>
                    </div>

                </article>
                <article class="col-xs-12 col-md-4 bottomSpacing">
                    <h2>Measurements:</h2>
                    <br/>

                    <div id="temperatureWrapper">
                        <h2>Temp: {{ weatherData.avgTemp | number:0 }} &deg;C</h2>
                    </div>

                    <div id="humidityWrapper">
                        <h2>RH: {{ weatherData.relHumidity }} %</h2>
                    </div>

                    <div id="pressureWrapper">
                        <h2>BP: {{ weatherData.pressure | number:0 }} hPa</h2>
                    </div>
                </article>
                <article class="col-xs-12 col-md-4 bottomSpacing">
                    <h2>Rain and lightning:</h2>
                    <br/>

                    <div id="rainWrapper">
                        <h2>Rain: {{ rainData.intensity }} mm/u</h2>
                    </div>

                    <div id="lightningWrapper">
                        <h2>Lightning: {{ lightningData.closestStrike.distance | number:0 }} km</h2>
                    </div>
                </article>
            </div>

            <!-- Sun and wind -->
            <div class="row">
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="animationDiv">

                        <div id="sunContainer">
                            <div id="sunPath"></div>
                            <div id="sunWrapper">
                                <div id="sun"></div>
                            </div>
                        </div>

                        <div id="sunUpContainer">
                            <img src="img/svg/sunrise.svg" class="svg"/>
                            <h4>{{ weatherData.sunriseString }}</h4>
                        </div>
                        <div id="sunDownContainer">
                            <img src="img/svg/sunset.svg" class="svg"/>
                            <h4>{{ weatherData.sunsetString }}</h4>
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="animationDiv">

                        <div id="windDirectionContainer">
                            <img id="windDirectionSVG" src="img/svg/compass.svg" class="svg"/>
                            <h4>{{ weatherData.avgWindDirectionCardinal }}</h4>
                        </div>

                        <div id="compassWrapper">
                            <div id="compass"></div>
                            <div id="needle"></div>
                        </div>

                        <div id="windSpeedContainer">
                            <img id="windSpeedSVG" src="img/svg/windspeed.svg" class="svg"/>
                            <h4>{{ (weatherData.avgWindSpeed * 3.6) | number:0 }} km/h</h4>
                        </div>

                        <div id="windWrapper">
                            <div id="windPost"></div>
                            <div id="windArms"></div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Rain and thunder -->
            <div class="row">
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="graphDiv">
                        <h4>Current rain conditions:</h4>
                        <canvas id="currentCanvas" width="350" height="205"></canvas>
                    </div>
                </article>
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="graphDiv">
                        <h4>Predicted rain conditions:</h4>
                        <canvas id="predictCanvas" width="350" height="225"></canvas>
                    </div>
                </article>
            </div>

            <!-- Maps -->
            <div class="row">
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="mapDiv">
                        <h4>Lightning:</h4>
                        <div id="lightning">
                            <a href="http://images.blitzortung.org/Images/image_b_fr.png" data-lightbox="image-1" data-title="Lightning">
                                <img src="http://images.blitzortung.org/Images/image_b_fr.png" alt="lightning">
                            </a>
                        </div>
                    </div>
                </article>
                <article class="col-xs-12 col-md-6 bottomSpacing">
                    <div class="mapDiv">
                        <h4>Precipitation:</h4>
                        <div id="buienradar" class="map">
                            <a href="http://www.buienradar.be/image" data-lightbox="image-2" data-title="Precipitation">
                                <img src="http://www.buienradar.be/image" alt="precipitation"/>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <footer id="footer" class="transparent hidden">
            Weather Genie uses Node.js and AngularJS! All resources used for educational purposes.
        </footer>

        <!-- Scripts -->
        <!-- TODO: CDN fallback to local files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

        <!--<script src="js/lib/jquery.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/lightbox.min.js"></script>
        <script src="js/lib/blockui.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/chart.js"></script>-->

        <script src="js/utils.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>