/**************************
*** CSS for page layout ***
**************************/
html {
    font-family: 'Lato', sans-serif!important;
    color: #fffaeb;

    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#headerWrapper {
    background-color: rgba(20,20,20,0.4);

    width:100%;
    height:60px;

    top:0;
    left:0;
    position:fixed;

    z-index: 1000;
}
#headerContent{
    margin:0 auto;
    width:960px;

    line-height:60px;
    text-align:center;
}

.content {
    margin:0 auto;
    width:960px;
    overflow:hidden;
}

#contentWrapper {
    height: 900px;
}

#content{
    padding:80px 0;
    height: 750px;
}

#footerWrapper {
    background-color: rgba(20,20,20,0.4);

    width:100%;
    height:30px;

    bottom:0;
    left:0;
    position:fixed;
}
#footerContent {
    margin:0 auto;
    width:960px;

    line-height:30px;
    text-align:center;
}

#headerTitle {
    float: left;
}

#headerTitle h1 {
    margin: 0!important;
}

#headerSearch {
    float: right;
}

article {
    position: relative;

    min-height: 250px;

    padding-left: 15px;
    padding-right: 15px;

    background-color: rgba(20,20,20,0.4);
}

#blockWrapper {
    margin-top: 20px;

    min-height: 250px;
}

.blockLeftArticle {
    overflow: hidden;
    margin-top: -10px;

    float: left;
    width: 435px;
}

.blockRightArticle {
    margin-top: -10px;

    float: right;
    width: 435px;
}

/******************************
*** CSS for page background ***
******************************/
#backgroundWrapper {
    margin: 0 auto;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}
#backgroundWrapper img {
    width: 100%;
    height: 100%;

    left:0;
    position:absolute;

    transition: opacity 1s ease-in-out;
}
#backgroundWrapper img.transparent {
    opacity:0;
}