/*************************
*** CSS for search box ***
*************************/
input {
    outline: 0!important;
}

form.searchForm input.searchText {
    color: #8D8D8D;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    background-color: rgba(255,255,255,0.8);

    padding: 5px 15px;
    border: none;
    float: left;
    line-height: normal;!important;

    -webkit-appearance: none;
    display: block;
    border-radius: 0;
}

.searchTextNormal {
    font-size: 120%;
    width: 228px;
    height: 28px;
}

.searchTextLarge {
    font-size: 200%;
    width: 448px;
    height: 48px;
}

form.searchForm input.searchSubmit {
    display: block;
    background: url("../img/search-icon.png");
    background-size: contain;
    float: left;
    cursor: pointer;
    transition: all 0.2s ease;

    -webkit-appearance: none;
    border: none;
    border-radius: 0;
}

.searchButtonNormal {
    height: 28px;
    width: 30px;
}

.searchButtonLarge {
    height: 48px;
    width: 50px;
}

form.searchForm input.searchSubmit:hover {
    background-image: url("../img/search-icon-hover.png");
    background-size: contain;
}

form.searchForm {
    padding: 0;
    border: 1px solid rgba(255,255,255,0.8);
}

.searchFormNormal {
    margin: 13px 0 10px 0;
    width: 260px;
    height: 30px;
}

.searchFormLarge {
    margin: 75px auto 0;
    width: 500px;
    height: 50px;
}

form.searchForm input.searchText::-webkit-input-placeholder {
    color: #FFF;
    transition: all 0.2s ease;
}

form.searchForm input.searchText::-moz-placeholder {
    color: #FFF;
    transition: all 0.2s ease;
}

form.searchForm input.searchText:-ms-input-placeholder {
    color: #FFF;
    transition: all 0.2s ease;
}

form.searchForm input.searchText:focus::-webkit-input-placeholder {color:transparent;}
form.searchForm input.searchText:focus::-moz-placeholder {color:transparent;}
form.searchForm input.searchText:focus:-ms-input-placeholder {color:transparent;}

/******************************************
*** CSS for general weather information ***
******************************************/
.largeText {
    font-size: 300%;
}

.weatherCondition {
    text-transform: capitalize;
}

/****************************
*** CSS for sun animation ***
****************************/
@-webkit-keyframes sunAnimation {
    from { -webkit-transform:rotate(270deg); }
    to { -webkit-transform:rotate(271deg); }
}

@keyframes sunAnimation {
    from { transform:rotate(270deg); }
    to { transform:rotate(271deg); }
}

#sunContainer {
    overflow: hidden;
}
@media(max-width:767px){
    #sunContainer{
        /*250 sun container width + 50 to prevent sun being cut of*/
        width: 300px;
        /*125 pixels height + 125 pixels for margin*/
        height: 250px;
    }
}
@media(min-width:767px){
    #sunContainer{
        /*400 sun container width + 50 to prevent sun being cut of*/
        width: 450px;
        /*200 pixels height + 50 pixels for margin*/
        height: 250px;
    }
}

#sunPath {
    float: left;

    border: 3px dotted #CCC;
    border-radius: 50%;
}
@media(max-width:767px){
    #sunPath{
        margin-top: 125px;
        margin-left: 25px;
        width:250px;
        height:250px;
        /*clip: rect(0px, 250px, 125px, 0px);*/
    }
}
@media(min-width:767px){
    #sunPath{
        margin-top: 50px;
        margin-left: 20px;
        width:400px;
        height:400px;
        /*clip: rect(0px, 400px, 200px, 0px);*/
    }
}

#sunWrapper {
    /*Testing*/
    /*border: 1px solid green;*/

    float: left;
    visibility: hidden;
}
@media(max-width:767px){
    #sunWrapper{
        margin-left: -237px;
        /*12 for correction of sun 125 for margin*/
        margin-top: 137px;

        width:225px;
        height:225px;
    }
}
@media(min-width:767px){
    #sunWrapper{
        margin-left: -367px;
        /*30 for correction of sun 50 for margin*/
        margin-top: 80px;

        width: 335px;
        height: 335px;
    }
}

#sun {
    width:50px;
    height:50px;
    background:orange;
    border-radius:50%;

    visibility: inherit;
}

.animateSun {
    visibility: visible!important;

    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: sunAnimation;
    -webkit-animation-fill-mode: forwards;

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: sunAnimation;
    animation-fill-mode: forwards;
}

#sunUpText {
    position: absolute;
    margin-top: -240px;
}

#sunDownText {
    position: absolute;
    margin-top: -240px;
    margin-left: 340px;
}

/***************************************
*** CSS for wind direction animation ***
***************************************/
@-webkit-keyframes windDirAnimation {
    from { -webkit-transform:rotate(0deg); }
    to { -webkit-transform:rotate(0deg); }
}

@keyframes windDirAnimation {
    from { transform:rotate(0deg); }
    to { transform:rotate(0deg); }
}

.animateWindDir {
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: windDirAnimation;
    -webkit-animation-fill-mode: forwards;

    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: windDirAnimation;
    animation-fill-mode: forwards;
}

#compassWrapper {
    position: absolute;
    margin-top: 48px;
    margin-left: -10px;
}

#compass {
    position: absolute;
    width: 200px;
    height: 200px;

    background-image: url("../img/compass.png");
    background-size: cover;
}

#needle {
    position: absolute;
    width: 200px;
    height: 200px;

    background-image: url("../img/needle.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 50px;
}

@-webkit-keyframes windSpeedAnimation {
    from { -webkit-transform:rotate(0deg); }
    to { -webkit-transform:rotate(360deg); }
}

@keyframes windSpeedAnimation {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#windWrapper {
    position: absolute;
    margin-top: 25px;
    margin-left: 230px;
}

#windPost {
    position: absolute;
    margin-top: 98px;
    margin-left: 96px;

    width: 7px;
    height: 110px;

    background-color: #CCCCCC;
}

#windArms {
    position: absolute;
    width: 200px;
    height: 200px;

    background-image: url("../img/windArms.png");
    background-size: 200px;
    background-repeat: no-repeat;
}

#windDirectionText {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

#windSpeedText {
    position: absolute;
    margin-top: 10px;
    margin-left: 265px;
}

.windSlow {
    -webkit-animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: windSpeedAnimation;

    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: windSpeedAnimation;
}

.windMedium {
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: windSpeedAnimation;

    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: windSpeedAnimation;
}

.windFast {
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: windSpeedAnimation;

    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: windSpeedAnimation;
}

.windStorm {
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: windSpeedAnimation;

    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: windSpeedAnimation;
}



/*********************************
*** CSS for weather conditions ***
*********************************/
#lightning {

}

#lightning img {
    width: 350px;
}

#buienradar {

}

#buienradar img {
    width: 350px;
}